<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiUrl" value ="http://localhost:8085/api/scores" />
    <add key="addscore" value ="ADD SCORE" />
    <add key="start" value ="START" />
    <add key="stop" value="STOP"/>
    <add key="ConsoleName" value="Basketball Console"/>
    <add key="InvalidOption" value="press valid options"/>
    <add key="EnterScore" value="Enter Score: "/>
    <add key="StartConsole" value="#PRESS 2 TO START CONSOLE#"/>
  </appSettings>
</configuration>